* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", sans-serif;
}

:root {
    --primary-color: rgba(238, 238, 238, 1);
    --secondary-color: rgba(72, 144, 120, 1);
    --background-color: rgba(96, 88, 88, 1);
    --background-color-dark: rgba(53, 49, 49, 1);
    --accent-color: rgba(53, 49, 49, 0.24);

    --text-color-primary: rgba(53, 49, 49, 1);
    --text-color-secondary: rgba(244, 243, 241, 0.94);

    --font-size-base: 0.875rem; /* 14px */
    --font-size-small: 1rem; /* 16px */
    --font-size-large: 1.375rem; /* 22px */
    --font-size-xlarge: 1.5rem; /* 24px */
    --font-size-xxlarge: 2rem; /* 32px */ 
}


.viewOne {
    background-color: var(--secondary-color);
    color: var(--text-color-secondary);
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap: 0.5rem;

    
    header {
        h1 {
            padding-top: 5rem;
            font-size: var(--font-size-xxlarge);
        }
        
       
        button {
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;
            padding: 0.7rem;
        }
    }
}


.cartImg {
    width: 21px;
    height: 20px;
    border-radius: 4px;
}


.box {
    width: 21rem;
}


.h3Menu {
    display: flex;
    gap: 0.5rem;
    align-items: end;
    
    
    .dots {
        border-bottom: 2px dotted white;
       
        display: inline-block;
        width: fit-content; 
        height: 1px; 
        flex-grow: 1;
        
    }
}

.span2 {
    display: flex;
 
}

